# 3. Service section - exposes Prometheus to the cluster and externally
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
spec:
  selector:
    app: prometheus-server
  ports:
  - port: 9090
    targetPort: 9090
  type: NodePort